.hljs {
  border-radius: 4px;
  code {
    background-color: transparent;
    line-height: 1.5;
  }
}

code {
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
  background-color: rgba(206, 212, 218, 0.5);
  border-radius: 3px;
  font-size: 85%;
  margin: 0;
  padding: .2em .4em;
}
