@import "var";
.md-content {
  line-height: 1.5;
  font-size: 16px;
  margin-bottom: 5em;
  ol, ul {
    line-height: 180%;
  }
  img {
    max-width: 100%;
  }
  p {
    line-height: 180%;
    margin-top: 1em;
    margin-left: .8em;
  }
  blockquote {
    P {
      margin: 0;
    }
    background-color: #f5f2f0;
    border: .3em solid #e0dfcc;
    border-radius: 1em;
    color: #6a737d;
    padding: 1em;
    margin: 0 .3em 1em .3em;
  }
}

h1, h2{
  font-weight: 500;
  line-height: 1.25;
  margin-bottom: 16px;
  margin-top: 24px;
  border-bottom: 1px solid $border-color;
}
h3, h4, h5 {
  font-weight: 500;
  margin-bottom: 0;
  margin-top: 1em;
  padding-bottom: .2em;
  margin-left: .5em;
}
h1 {
  font-size: 2em;
  padding-bottom: .3em;
}
h2 {
  font-size: 1.5em;
  padding-bottom: .3em;
}
