/* You can add global styles to this file, and also import other style files */
@import "var";
@import "~highlight.js/scss/atom-one-dark";
@import "highlight";
@import "md";
html, body {
  margin: 0;
  background-color: $primary-color;
  height: 100%;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  font-size: 16px;
}

.content {
  height: 100%;
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
  display: flex;
  padding: 14px 16px;
}
